# Copia este archivo como .env.local y configura tus variables

# URL del video M3U8
NEXT_PUBLIC_VIDEO_URL=https://cms-public-artifacts.artlist.io/content/artgrid/footage-hls/f338c3b8-1832-423e-b43a-108b27a4fef4_2160p_1737445310.m3u8

# Configuración opcional
# NEXT_PUBLIC_SITE_TITLE="Ola World - Coming Soon"
# NEXT_PUBLIC_SITE_DESCRIPTION="Próximamente"

